<div class="main">
  <div class="create">
    <form method="post" [formGroup]="postDeposit">
      <div class="create__field">
        <label for="textContent">Entrez du texte</label>
        <textarea id="textContent" name="text-content" formControlName="textContent"></textarea>
        <input type="file" name="user_img" formControlName="image" (change)="onFileSelected($event)" #imgInput>
        <div>
          {{fileName || "Aucun fichier téléversé."}}
          <i (click)="uploadImg()" class="fa-solid fa-camera"></i>
        </div>
      </div>
      <div class="create__submit">
        <button (click)="postSubmit()">Envoyer</button> <!--appel de la fonction d'envoi de post-->
      </div>
    </form>
  </div>
  <div class="main__feed">
    <app-post *ngFor="let post of posts" [post]="post" (onDelete)="refreshPost()"></app-post> <!-- affichage des posts -->
  </div>
</div>
