<div class="main">
  <div class="loginForm">
    <h2>Déjà inscrit ?</h2>
    <form class="loginForm__form" method="post">
      <div class="loginForm__form--field">
        <label for="userEmail">Email :</label>
        <input type="text" id="userEmail" name="user_email" #userEmail>
      </div>
      <div class="loginForm__form--field">
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="user_password" #userPassword>
      </div>
      <div class="loginForm__submit">
        <button (click)="loginSubmit()">Connexion</button>
      </div>
    </form>

  </div>
  <div class="signup">
    <p class="signup__line"></p>
    <a routerLink="signup">Nouveau ici ? S'inscrire</a>
  </div>
</div>
