.postCard {
  width: 75%;
  display: flex;
  flex-direction: column;
  border: 1px solid #FFD7D7;
  border-radius: 5px;
  box-shadow: 1px 1px 15px #FFD7D7;
  padding: 1%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modify {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: flex-start;
  text-align: justify;
  width: 52%;
  border: 1px solid  #FFD7D7;
  border-radius: 5px;
  box-shadow: 1px 1px 15px #FFD7D7;
  margin-bottom: 1%;
  padding: 1%;
  &__field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    margin: 1%;
    width: 100%;
    input {
      display: none;
    }
    textarea {
      width: 97%;
      height: 45px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
    }
  }
  &__imgPreview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
      max-width: 75%;
      margin: 5%;
    }
  }
  &__submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

}

button {
  width: 30%;
  height: 20px;
  background-color: #C12101;
  color: #FFD7D7;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
}
