<div class="main">
  <div class="modify">
    <form method="post" [formGroup]="postModify">
      <div class="modify__field">
        <label for="textContent"></label>
        <textarea id="textContent" formControlName="textContent"></textarea>
        <input type="file" name="user_img" formControlName="image" (change)="onFileSelected($event)" #imgInput>
        <div>
          {{fileName || "Aucun fichier téléversé."}}
          <i (click)="uploadImg()" class="fa-solid fa-camera"></i>
        </div>
      </div>
    </form>
    <div class="modify__imgPreview">
      <img [src]="imageSrc" *ngIf="imageSrc">
    </div>
    <div class="modify__submit">
      <button (click)="submitModifiedPost()" aria-label="envoyer le post modifié">Modifier</button>
    </div>
  </div>
</div>
